.container{
    background-color: rgb(185, 185, 205);
    width: 400px;
    height: 300px;
    margin-top: 30px; 
}

.c{
    margin-top: 10px;
    margin-left: 20px;
}
.f{
    margin-top: 10px;
}

#temperature{
    width: 300px;
    margin-top: 20px;
}
#to{
    margin-bottom: 20px;
    width: 300px;
}

#clear{
    height: 70px;
    width: 90px;
    font-size: medium;
}


