.container{
    background-color:rgb(247, 209, 215);
    width: 400px;
    height: 200px;
    margin-top: 30px; 
}

.c{
    margin-top: 10px;
    margin-left: 20px;
}
.f{
    margin-top: 10px;
}

#temperature{
    width: 300px;
    margin-top: 20px;
}
#to{
    margin-bottom: 20px;
    width: 300px;
}


#clear{
    height: 50px;
    width: 50px;
    font-size: small;
    margin: auto;
}


